	#box {
		width: 100%;
		
	}
	body {
		background-color: #D3D3D3;
	}
	header {
		width: 100%;
		border-top: outset;
		border-bottom: outset;
		background-color: #2F4F4F;
		margin-bottom: 30px;
	}
	nav {
		float:left;
		margin-bottom: 10px;
		position: relative;
		left: 150px;
		
	}
	nav a {
		margin: 10px;
		color: white;
		text-decoration: none;
		font-family: Arial;
		letter-spacing: 2px;
	}
	nav a:hover {
		color: red;
	}
	header h1  {
		font-family:Arial;
		font-style: italic;
		font-size: 3em;
		text-align: center;
		color: white;
		
		
	}
	h1 a {
		text-decoration: none;
		color:white;
	}	
	.clear {
		clear: both;
	}
	section.body {
		width: 90%;
		margin-left: 100px;
		margin-right: 100px;
		margin-top: 50px;
	}	
	div.listing {
		font-size: 3em;
	}
	ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
	ul li p {
		text-align: center;
		font-size: 1.5em;
		font-style: italic;
		color: blue;
	}
	ul li {
		float: left;
		margin: 5px;
		border: 2px solid;
	}
	
	ul li img {
		width: 200px;
		height: 250px;
	}
	